/* shared-styles */
.orange {
  color: #fd6e0a;
}

.gray{
  color: #474747;
}

.btn-orange {
  background-color: #fd6e0a;
  font-weight: 700;
  font-size: 20px;
  color: white;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
}

.text-center{
  text-align: center;
}


/* nav related styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul li {
  list-style-type: none;
  margin-right: 50px;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* banner-related-styles */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 230px;
}
.banner-content {
   max-width: 580px;
}
.banner-greetings {
  font-size: 45px;
  font-weight: 600;
}
.banner-title {
  font-weight: bold;
  font-size: 85px;
}
.banner-description {
  font-size: 18px;
  color: #757575;
}
.banner-profile-image {
  width: 580px;
}

.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}


/* main section starts here */
.section-title{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}

.section-description{
  font-size: 18px;
  color: #757575;
}

main{
  max-width: 1140px;
  margin: 0 auto;
  border: 3px solid black;
}

.main-bg{
  background-color: cyan;
}

main section{
  margin-top: 130px;
  margin-bottom: 130px;
}

/* about styles */
.about{
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  border: 4px dashed hotpink;
  
}
.about-items{
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

